::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00239030;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00239060;
}

.rs-picker-toggle {
  --rs-input-bg: transparent;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2'), url('/assets/fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
